

/*
=====Header======================================
*/
h1 {
    color: #4aaaa5;
    background-color: #ffffff;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Georgia", Times, Times New Roman, serif;
    border-bottom: 3px solid #cccccc;

}

/*
=====Custom Styles===============================
*/

body { 
    background: #4aaaa5;
    margin: 0;
    padding: 0;
}
.main-content {
    background: #ffffff;
    width: 960px;
    height: 650px;
    margin: auto;
}
.main-content h1 {
    padding: 15px;
    border-bottom: 3px solid #dddddd
    
}

/*
=====Footer======================================
*/

.primary-footer {
    background-color: #666666;
    padding: 30px;
    text-align: center;
    color: #ffffff;
}

/*
=====Typography==================================
*/


/*
=====Portifolio==================================
*/

.column {
    float: left;
    width: 50%;
    padding: 10px

}
.column img{
    margin: 15px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*
=====Contact=====================================
*/

.form {
    margin-left: 25px;
}