

/*
=====Header======================================
*/

.primary-header {
    background: #ffffff;
    border-bottom: 10px solid #cccccc;
    text-align: left;
}
.navigation {
    text-align: right;
}

/*
=====Custom Styles===============================
*/

body { 
    background: #4aaaa5;
    align: center;
    

}
.main-content {
    background: #ffffff;
    width: 960px;
    height: 650px;
    margin: auto;

}


/*
=====Footer======================================
*/

.primary-footer {
    background-color: #666666;
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

/*
=====Typography==================================
*/

h1 {
    color: #4aaaa5;
}